<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.elasalle.lamp"
    android:versionCode="2"
    android:versionName="2.1.0">

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.elasalle.lamp4.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        tools:replace="android:icon"
        android:name="com.elasalle.lamp.LampApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:hardwareAccelerated="true">
        <activity
            android:name="com.elasalle.lamp.login.LoginActivity"
            android:theme="@style/LoginTheme"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="com.elasalle.lamp.login.GuestLoginActivity"
            android:theme="@style/GuestLoginPasswordResetTheme"
            android:parentActivityName="com.elasalle.lamp.login.LoginActivity"/>
        <activity android:name="com.elasalle.lamp.login.ResetPasswordActivity"
            android:theme="@style/GuestLoginPasswordResetTheme"
            android:parentActivityName="com.elasalle.lamp.login.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"/>
        <activity android:name="com.elasalle.lamp.ui.SplashScreenActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.elasalle.lamp.ui.dashboard.menu.IntroductionActivity"
            android:theme="@style/AppTheme.Introduction">
        </activity>
        <activity
            android:name="com.elasalle.lamp.main.MainActivity"
            android:theme="@style/AppTheme.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.elasalle.lamp.ui.dashboard.menu.AboutActivity"
            android:parentActivityName="com.elasalle.lamp.main.MainActivity"/>
        <activity android:name="com.elasalle.lamp.ui.dashboard.menu.ThirdPartyLicensesActivity"
            android:parentActivityName="com.elasalle.lamp.main.MainActivity"/>
        <activity android:name="com.elasalle.lamp.ui.BlockingMessageActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Blocking"/>
        <activity android:name="com.elasalle.lamp.ui.dashboard.menu.MyAccountActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.elasalle.lamp.ui.customer.ChangeCustomerActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.elasalle.lamp.camera.CameraActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.elasalle.lamp.search.AssetDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"/>
        <activity android:name="com.elasalle.lamp.search.AssetListActivity"/>
        <activity android:name="com.elasalle.lamp.scan.newset.NewScanSetActivity"/>
        <activity android:name="com.elasalle.lamp.scan.detail.ScanSetDetailActivity"/>
        <activity android:name="com.elasalle.lamp.scan.asset.AddAssetActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"/>
        <activity android:name="com.elasalle.lamp.notification.NotificationDetailActivity"/>
        <activity android:name="com.elasalle.lamp.ui.dashboard.menu.HelpActivity"/>
        <service android:name="com.elasalle.lamp.service.UserConfigService"
            android:exported="false"/>
        <receiver android:name="com.elasalle.lamp.network.NetworkChangeBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>
        <receiver android:name="com.microsoft.windowsazure.notifications.NotificationsBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.elasalle.lamp4" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
